<!DOCTYPE html>
<html>
  <head>
    <meta charset="ustf-8">
    <meta name="viewport" content="width=sevice-width">
    <meta name="author" content="TheWillfulOtter">
    <title>Resolve Development | Welcome</title>
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Resolve</span> Development</h1>
        </div>
          <nav>
            <ul>
              <li class="current"><a href="index.html">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="services.html">Services</a></li>
            </ul>
          </nav>
        </div>
    </header>

      <section id="showcase">
          <div class="container">
            <h1>Unparalled Product and Process Development</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec accumsan tellus ac aliquet luctus. Vestibulum justo orci, iaculis sit amet purus at, scelerisque posuere libero. Vestibulum cursus leo sit amet dictum pellentesque. Cras aliquam non nisl ac dignissim. Mauris in erat eu elit gravida imperdiet. Mauris aliquet semper aliquet. Curabitur sed ultricies justo, sed malesuada augue. Nulla commodo nibh at ipsum convallis ultrices. Donec tristique nunc purus, id tincidunt libero fermentum eget. Aliquam consectetur commodo massa, id laoreet urna finibus eu. In imperdiet augue eu magna imperdiet, feugiat venenatis nulla pretium. Sed eleifend magna sed euismod pharetra. Duis sit amet lacus suscipit, lacinia purus et, lobortis risus. Pellentesque faucibus risus a massa ultrices, id blandit metus porta. Praesent quis quam faucibus orci tincidunt laoreet. </p>
          </div>
      </section>
      <section id="updates">
        <div class="container">
          <h1>Subscribe to Updates</h1>
            <form>
              <input type="email" placeholder="Enter Email...">
              <button type="submit" class=" button_1">Subscribe</button>
            </form>
          </div>
      </section>
        <section id="boxes">
          <div class="container">
            <div class="box">
              <img src="./img/html5.png">
              <h3>HTML 5 Markup</h3>
              <p>Vivamus interdum sollicitudin purus quis ultricies. Ut eget porta dolor. Maecenas vel nisl aliquet tortor iaculis eleifend sed at nibh. Quisque porta neque sit amet risus consequat convallis.</p>
            </div>
            <div class="box">
              <img src="./img/css3.png">
              <h3>CSS3 Styling</h3>
              <p>Ut arcu arcu, sagittis nec tincidunt eu, finibus sit amet elit. Aliquam erat volutpat. Pellentesque pretium orci in porttitor congue. Cras luctus nunc nisi, eu euismod turpis facilisis quis. </p>
            </div>
            <div class="box">
              <img src="./img/django.png">
              <h3>Django Development</h3>
              <p>Nullam molestie in turpis sit amet elementum. Integer finibus dui vel convallis tincidunt. Quisque ac ultrices purus. Aenean eleifend diam ut semper varius. </p>
            </div>
            <div class="box">
              <img src="./img/python.jpeg">
              <h3>Python Development</h3>
              <p>Cras id tristique lacus, sed tristique mauris. Integer ut nisl sed tellus placerat pulvinar quis eget est. Morbi bibendum ultricies tristique. Maecenas scelerisque velit non magna pellentesque, a bibendum urna viverra. Nunc pharetra in dolor ac faucibus. Pellentesque ullamcorper auctor leo, eget condimentum velit laoreet vitae.</p>
            </div>
          </div>
        </section>
        <footer>
          <p>Resolve Development, Copyright &copy;2017</p>
        </footer>
    </body>
</html>
